body {
	background: #E8F9F3;
	background-image: url("assets/forestPath.jpg");
	background-attachment: fixed;
	background-size: cover;
	width: 100%;
	color: #000000;
	padding: 25px;
	font-family: sans-serif;
}

h1 {
	font-size: 4rem;
	color: #FFFFFF;
}

h2 {
	font-size: 2rem;
	color: #FFFFFF;
}

section {
	display: flex;
}

div {
	text-align: center;
	background-color: #E8F9F3;
	opacity: .50; /* Standard: FF gt 1.5, Opera, Safari, CSS3 */
    filter: alpha(opacity=50); /* IE lt 8 */
    -ms-filter: "alpha(opacity=50)"; /* IE 8 */
    -khtml-opacity: .50; /* Safari 1.x */
    -moz-opacity: .50; /* FF lt 1.5, Netscape */
}

.text-center {
	text-align: center;
}

.center {
	margin-left: auto;
	margin-right: auto;
}

.text-left {
	text-align: left;
}

th {
	text-align: center;
}

td {
	text-align: center;
}

.button {
	text-decoration: none;
	color: #E8F9F3;
	background: #1348DA;
	padding: 0 1rem;
	height: 2.5rem;
	display: inline-flex;
	align-items: center;
	border-radius: 0.5rem;
}

/* The grid: Four equal columns that floats next to each other */
.column {
	float: left;
	width: 25%;
	padding: 10px;
}

/* Style the images inside the grid */
.column img {
	opacity: 0.8;
	cursor: pointer;
}

.column img:hover {
	opacity: 1;
}

/* Clear floats after the columns */
.row:after {
	content: "";
	display: table;
	clear: both;
}

/* The expanding image container (positioning is needed to position the close button and the text) */
.container {
	position: relative;
	display: none;
}

/* Expanding image text */
#imgtext {
	position: absolute;
	bottom: 15px;
	left: 15px;
	color: white;
	font-size: 20px;
}

/* Closable button inside the image */
.closebtn {
	position: absolute;
	top: 10px;
	right: 15px;
	color: white;
	font-size: 35px;
	cursor: pointer;
}

@media (max-width: 1024px)
{
	body {
		flex-direction: column;
	}

	img {
		width: 100%;
	}
}